@use "../utilities/mixins";

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.titleh1 span::after {
  content: "Company Tasks";
  animation: words 28s infinite;
  transition: opacity 1s ease;
  opacity: 1;
}

@keyframes words {
  0%,
  12% {
    content: "Register Users";
    color: #00bfff; /* azul claro */
  }

  13%,
  25% {
    content: "Login to Your Account";
    color: #00ff7f; /* verde */
  }

  26%,
  38% {
    content: "Create Tasks";
    color: #00fa9a;
  }

  39%,
  51% {
    content: "Edit Your Tasks";
    color: #ff00ff;
  }

  52%,
  64% {
    content: "Delete Tasks";
    color: #ffd700;
  }

  65%,
  77% {
    content: "Search Tasks";
    color: #ffa500;
  }

  78%,
  89% {
    content: "Save in Local Storage";
    color: #1e90ff;
  }

  90%,
  100% {
    content: "Check Your Location 🌍";
    color: #7fffd4;
  }
}

.titleh1 {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// footer
h5 {
  font-size: 1rem;
  font-weight: 700;
  @include mixins.general-flex(row, center, center);
}

.whoIam span::after {
  content: "Moises";
  animation: wordsAboutMe 22s infinite;
  transition: opacity 1s ease;
  opacity: 1;
}
.whoIam span {
  padding-left: 6px;
}

@keyframes wordsAboutMe {
  0%,
  20% {
    content: "Edwin Moises Oña";
    color: #ff7700;
  }
  21%,
  40% {
    content: "Electronic Engineer";
    color: #00bfff;
  }

  41%,
  50% {
    content: "Web Developer";
    color: #00ff7f;
  }

  51%,
  60% {
    content: "CSS & SCSS ";
    color: #ff69b4;
  }

  61%,
  80% {
    content: "JavaScript Lover";
    color: #ffd700;
  }

  81%,
  100% {
    content: "Future Full Stack Dev 🚀";
    color: #7fffd4;
  }
}

.whoIam {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
