@use "../utilities/mixins";
.nightModeButton {
  border-radius: 50%;
  background: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: none;
  &:hover {
    transform: scale(1.2);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
}

.main-section,
.content,
.section {
  margin: 0;
  padding: 0;
}
.buttonPlus {
  background-color: transparent;
  border: none; 
  color: #0d6efd; 
  &:hover svg {
    color: #ffffff; 
    transform: scale(1.1);
    transition: 0.2s ease;
  }
}

.buttonPlus svg {
  height: 60px;
  width: 60px;
}

.principalButton {
  @include mixins.general-flex(row, center, center);

  margin: 0;
}

.buttonDB {
  background-color: transparent;
  border: none; 
  color: #0d6efd; 
  &:hover svg {
    color: #c91616; 
    transform: scale(1.1);
    transition: 0.2s ease;
  }
}

.buttonDB svg {
  height: 60px;
  width: 60px;
}

