@use "../utilities/mixins";

h1 {
  text-align: center;
  padding: 1rem;
}
.spanBanner {
  padding: 18px 30px;
  max-width: 800px;
  margin: 10px auto;
  border: none;                      
  border-radius: 14px;
  backdrop-filter: blur(25px);
  background: linear-gradient(135deg, rgba(223, 189, 189, 0.39), rgba(15, 15, 15, 0.4));
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25); // 🔹 profundidad suave
  color: #fff;
  text-align: center;

  @include mixins.general-flex(row, center, center);
  flex-wrap: wrap;
  gap: 20px;

  .apiInformation {
    @include mixins.general-flex(row, center, center);
    flex-wrap: wrap;
    gap: 25px;

    h2 {
      font-size: 0.9rem;
      font-weight: 400;
      color: #464343;
      background: rgba(255, 255, 255, 0.08); 
      border-radius: 6px;
      padding: 6px 12px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }
  }
}

#news section {
  color: #ffffff;
  font-weight: 500;
}

.buttonAccess {
  @include mixins.general-flex(row, space-around, center);
  gap: 10px;
  .btn {
    background-color: rgba(40, 101, 255, 0.614);
    color: #000000;
  }
  .modal {
    .modal-content {
      .modal-header {
        background-color: #9b451a98;
        .modal-title {
          color: #261111;
        }
      }
      .col-12 {
        @include mixins.general-flex(row, center, end);
      }
    }
  }
}

h2 {
  padding: 1rem;
}
.table {
  text-align: center;
  align-items: center;
}



.clearDB {
  margin: 0;
  @include mixins.general-flex(column, center, center);
  gap: 10px;
  padding: 5px;
  /* eliminar este bloque genérico de button que sobrescribe colores */
  /* button {
    background-color: rgba(255, 0, 0, 0.797);
    color: #ffffff;
  } */
}

.warningDB {
  @include mixins.general-flex(row, center, center);
  background-color: red;
  color: #000000;
  font-weight: normal; // si quieres texto normal
  padding: 10px;
}

.alertDB {
  @include mixins.general-flex(row, center, center);
  background-color: rgb(255, 149, 0);
  color: #000000;
  font-weight: normal;
  padding: 10px;
}

.spanBanner1 {
  padding: 17px;
  @include mixins.general-flex(row, center, center);
  gap: 10px;
  color: #261111;
  background-color: rgba(57, 92, 205, 0.605);
  @include mixins.img-size(100%, 100%);
}

