@use "../utilities/mixins";

h1 {
  text-align: center;
  padding: 1rem;
}
.spanBanner {
  padding: 10px;
  max-width: 800px;
  margin: 10px auto;
  border: none;
  border-radius: 14px;
  backdrop-filter: blur(25px);
  background: linear-gradient(
    135deg,
    rgba(13, 131, 234, 0.39),
    rgba(15, 15, 15, 0.516)
  );
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;

  @include mixins.general-flex(row, center, center);
  flex-wrap: wrap;
  gap: 20px;

  .apiInformation {
    @include mixins.general-flex(row, center, center);
    gap: 25px;

    h2 {
      font-size: 0.9rem;
      font-weight: 400;
      color: #ffffff;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }
  }
}

#news section {
  color: #ffffff;
  font-weight: 500;
}

.modalAccess {
  @include mixins.general-flex(row, space-between, center);
  padding: 5px 50px;
  margin: 0;
  .btn {
    background-color: rgba(40, 101, 255, 0.614);
    color: #000000;
    margin: 0;
  }
  .modal {
    .modal-content {
      .modal-header {
        background-color: #146672;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

        .modal-title {
          color: #ffffff;
        }
        .modal-body form {
          color: #146672;
        }
      }
      .col-12 {
        @include mixins.general-flex(row, center, end);
      }
    }
  }
}

h2 {
  padding: 1rem;
}
.table {
  text-align: center;
  align-items: center;
}

.clearDB {
  @include mixins.general-flex(column, center, center);
  padding-top: 0%;
  gap: 10px;
}

.warningDB {
  @include mixins.general-flex(row, center, center);
  background-color: rgba(255, 0, 0, 0.46);
  border-radius: 20px;
  color: #000000;
  font-weight: normal; // si quieres texto normal
  padding: 10px;
}

.alertDB {
  @include mixins.general-flex(row, center, center);
  background-color: rgba(255, 149, 0, 0.485);
  color: #000000;
  font-weight: normal;
  padding: 10px;
  border-radius: 20px;
}

.spanBanner1 {
  padding: 10px;
  @include mixins.general-flex(row, center, center);
  gap: 10px;
  color: #ffffff;
  @include mixins.img-size(100%, 100%);
}

.btContainer {
  @include mixins.general-flex(row, end, end);
  padding: 15px;
  gap: 10px;
}
.btContainer1{
  @include mixins.general-flex(row, center, center);
  padding: 5px;
}
.saveChange {
    padding: 10px;
    justify-content: end;
    border-radius: 20px;
    background-color: #042137;
    color: #ffffff;
    
  }