@use "../utilities/mixins";

body.nightModeStyle {
  h1 {
    color: #ffffff;
  }
  h2 {
    color: #ffffff;
  }
  h3 {
    color: #ffffff;
  }
  h4 {
    color: #ffffff;
  }
  background-color: #000000;
  color: #f0f0f0;

  .btn {
    color: #f0f0f0;
    background-color: rgb(57, 92, 205);
  }

  .styleHeader {
    background-color: #000000;

    .nightModeHeader {
      color: #eca814; // amarillo sol
      stroke: #ffffff;
      transition: color 0.5s ease, stroke 0.5s ease;

      &:hover {
        color: #ffa600cd;
        stroke: #ffffff;
      }
    }
  }
 
}



