@use "../utilities/mixins";

.styleHeader {
  @include mixins.general-flex(row, space-between, center);
  padding: 30px;
  margin: 0 ;

  .nightModeButton {
    .country {
      @include mixins.general-flex(row, center, center);
margin: 0%;
      .viewPicture {
        margin: 0;
         @include mixins.img-size(50px, 50px);
        filter: drop-shadow(
          0 0 10px rgba(0, 255, 128, 0.683)
        ); /* brillo opcional */

        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .logoHeader {
    @include mixins.img-size(50px, 50px);
  }

  .nightModeHeader {
    @include mixins.img-size(45px, 45px);
    fill: #5483e022;
    stroke: #082c29;
    transition: fill 0.5s ease, stroke 0.5s ease;

    &:hover {
      fill: #0b377e66;
      stroke: #000;
    }
  }
}
