body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;

  background: radial-gradient(circle at 20% 30%, #0a6b80 0%, transparent 40%),
              radial-gradient(circle at 80% 70%, #052f3d 0%, transparent 50%),
              linear-gradient(180deg, #031a21 0%, #082b35 100%);
  min-height: 100vh;
  color: #ffffff;
}

