@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=BBH+Sans+Bogle&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:opsz,wght@6..72,200..800&family=Playwrite+DE+Grund+Guides&family=Source+Code+Pro:wght@200..900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background: radial-gradient(circle at 20% 30%, #0a6b80 0%, transparent 40%), radial-gradient(circle at 80% 70%, #052f3d 0%, transparent 50%), linear-gradient(180deg, #031a21 0%, #082b35 100%);
  min-height: 100vh;
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

.styleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.styleHeader .nightModeButton .country {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.styleHeader .nightModeButton .country .viewPicture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 8px 2px 5px rgba(255, 255, 255, 0.2);
}
.styleHeader .logoHeader {
  width: 50px;
  height: 50px;
}
.styleHeader .nightModeHeader {
  width: 45px;
  height: 45px;
  fill: rgba(84, 131, 224, 0.1333333333);
  stroke: #082c29;
  transition: fill 0.5s ease, stroke 0.5s ease;
}
.styleHeader .nightModeHeader:hover {
  fill: rgba(11, 55, 126, 0.4);
  stroke: #000;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.spanBanner {
  padding: 10px;
  max-width: 800px;
  margin: 10px auto;
  border: none;
  border-radius: 14px;
  backdrop-filter: blur(25px);
  background: linear-gradient(135deg, rgba(13, 131, 234, 0.39), rgba(15, 15, 15, 0.516));
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.spanBanner .apiInformation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.spanBanner .apiInformation h2 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

#news section {
  color: #ffffff;
  font-weight: 500;
}

.modalAccess {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  margin: 0;
}
.modalAccess .btn {
  background-color: rgba(40, 101, 255, 0.614);
  color: #000000;
  margin: 0;
}
.modalAccess .modal .modal-content .modal-header {
  background-color: #146672;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.modalAccess .modal .modal-content .modal-header .modal-title {
  color: #ffffff;
}
.modalAccess .modal .modal-content .modal-header .modal-body form {
  color: #146672;
}
.modalAccess .modal .modal-content .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

h2 {
  padding: 1rem;
}

.table {
  text-align: center;
  align-items: center;
}

.clearDB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0%;
  gap: 10px;
}

.warningDB {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.46);
  border-radius: 20px;
  color: #000000;
  font-weight: normal;
  padding: 10px;
}

.alertDB {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 149, 0, 0.485);
  color: #000000;
  font-weight: normal;
  padding: 10px;
  border-radius: 20px;
}

.spanBanner1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

.btContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  padding: 15px;
  gap: 10px;
}

.btContainer1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.saveChange {
  padding: 10px;
  justify-content: end;
  border-radius: 20px;
  background-color: #042137;
  color: #ffffff;
}

.nightModeButton {
  border-radius: 50%;
  background: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: none;
}
.nightModeButton:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}

.main-section,
.content,
.section {
  margin: 0;
  padding: 0;
}

.buttonPlus {
  background-color: transparent;
  border: none;
  color: #0d6efd;
}
.buttonPlus:hover svg {
  color: #ffffff;
  transform: scale(1.1);
  transition: 0.2s ease;
}

.buttonPlus svg {
  height: 60px;
  width: 60px;
}

.principalButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.buttonDB {
  background-color: transparent;
  border: none;
  color: #0d6efd;
}
.buttonDB:hover svg {
  color: #c91616;
  transform: scale(1.1);
  transition: 0.2s ease;
}

.buttonDB svg {
  height: 60px;
  width: 60px;
}

body.nightModeStyle {
  background-color: #000000;
  color: #f0f0f0;
}
body.nightModeStyle h1 {
  color: #ffffff;
}
body.nightModeStyle h2 {
  color: #ffffff;
}
body.nightModeStyle h3 {
  color: #ffffff;
}
body.nightModeStyle h4 {
  color: #ffffff;
}
body.nightModeStyle .btn {
  color: #f0f0f0;
  background-color: rgb(57, 92, 205);
}
body.nightModeStyle .styleHeader {
  background-color: #000000;
}
body.nightModeStyle .styleHeader .nightModeHeader {
  color: #eca814;
  stroke: #ffffff;
  transition: color 0.5s ease, stroke 0.5s ease;
}
body.nightModeStyle .styleHeader .nightModeHeader:hover {
  color: rgba(255, 166, 0, 0.8039215686);
  stroke: #ffffff;
}

.dashboardContainer {
  display: grid;
  grid-template-areas: "newUsers newUsers" "searchStyle taksAndEdit";
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
  gap: 10px;
  padding-bottom: 30px;
}

.newUsers {
  grid-area: newUsers;
}

.searchStyle {
  grid-area: searchStyle;
}

.taksAndEdit {
  grid-area: taksAndEdit;
}

.newUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 20px;
}
.newUsers h2 {
  color: #ffffff;
  margin-bottom: 1rem;
}
.newUsers .formContainer {
  background-color: rgba(15, 148, 168, 0.6117647059);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.newUsers table {
  background-color: #1c1c1c;
  color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
}
.newUsers th {
  background-color: rgba(0, 221, 255, 0.5764705882);
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding: 12px;
}
.newUsers td {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #333;
  color: #000000;
}
.newUsers tr:hover {
  background-color: #2f2f2f;
  transition: background 0.3s ease;
}

.editOperator {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.781);
  color: #000000;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}
.editOperator:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}

.searchStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 0;
  background-color: none;
  border-radius: 20px;
}
.searchStyle h2 {
  color: #ffffff;
  margin: 0;
}
.searchStyle form {
  background-color: rgba(15, 148, 168, 0.6117647059);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.searchStyle table {
  background-color: #1c1c1c;
  color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.searchStyle th {
  background-color: rgba(0, 221, 255, 0.5764705882);
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding: 12px;
}
.searchStyle td {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #333;
  color: #000000;
}
.searchStyle tr:hover {
  background-color: #2f2f2f;
  transition: background 0.3s ease;
}

.taksAndEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin: 0;
  max-width: 800px;
  background-color: rgba(15, 148, 168, 0.6117647059);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.taksAndEdit h2 {
  color: #ffffff;
  margin: 1rem;
}
.taksAndEdit table {
  background-color: #1c1c1c;
  color: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.taksAndEdit th {
  background-color: rgba(0, 221, 255, 0.5764705882);
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  padding: 12px;
}
.taksAndEdit td {
  padding: 10px;
  text-align: center;
  border-top: 1px solid #333;
  color: #000000;
}
.taksAndEdit tr:hover {
  background-color: #2f2f2f;
  transition: background 0.3s ease;
}

.edit-task {
  border: none;
  cursor: pointer;
  background-color: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}
.edit-task:hover {
  background-color: rgba(33, 190, 185, 0.59);
  transform: scale(1.05);
}

.editTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.editTask .modal-header {
  background-color: #146672;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.editTask .modal-header .modal-title .form-select {
  padding: 10px;
  border-radius: 10px;
}
.editTask .modal-header .modal-title textarea {
  border-radius: 10px;
  padding: 10px;
  resize: none;
}

/* CONTENEDOR PRINCIPAL */
.f-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

/* LOGO + TEXTOS + ICONOS */
.f-container .f-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/* LOGO DEL FOOTER */
.f-container .f-icons .footer-logo {
  width: 50px;
  height: 50px;
}

/* TEXTOS DEL FOOTER */
.f-container .f-icons .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.f-container .f-icons .footer-container .footer-title {
  font-size: 14px; /* valor de $font-size-footer */
  font-weight: 300;
}

/* ICONOS DE REDES SOCIALES */
.f-container .f-icons .social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.f-container .f-icons .social-media-links .icons-styles {
  width: 30px;
  height: 30px;
  stroke-width: 1px;
  stroke: rgb(254, 254, 254); /* $icon-stroke-color */
  fill: rgba(255, 255, 255, 0.539); /* $icon-fill-color */
}

/* ICONO DEL CÍRCULO DE INSTAGRAM */
.circle-icon {
  stroke: #ffffff;
  stroke-width: 1px;
  fill: rgba(255, 89, 0, 0.9137254902);
}

/*# sourceMappingURL=style.css.map */
