@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
body {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

.styleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.styleHeader .logoHeader {
  width: 50px;
  height: 50px;
}
.styleHeader .nightModeHeader {
  width: 45px;
  height: 45px;
  fill: rgba(84, 131, 224, 0.1333333333);
  stroke: #082c29;
  transition: fill 0.5s ease, stroke 0.5s ease;
}
.styleHeader .nightModeHeader:hover {
  fill: rgba(11, 55, 126, 0.4);
  stroke: #000;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.spanBanner {
  display: block;
  width: 100%;
  height: 0px;
  background-color: #000;
}

.buttonAccess {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.buttonAccess .btn {
  background-color: rgba(40, 101, 255, 0.614);
  color: #000000;
}
.buttonAccess .modal .modal-content .modal-header {
  background-color: rgba(155, 69, 26, 0.5960784314);
}
.buttonAccess .modal .modal-content .modal-header .modal-title {
  color: #261111;
}
.buttonAccess .modal .modal-content .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.newUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1100px;
  background-color: rgba(128, 137, 240, 0.1176470588);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

h2 {
  padding: 1rem;
}

.table {
  text-align: center;
  align-items: center;
}

.searchStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1100px;
  background-color: rgba(128, 137, 240, 0.1176470588);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(179, 99, 99, 0.08);
  transition: all 0.3s ease;
}

.taksAndEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1100px;
  background-color: rgba(128, 137, 240, 0.1176470588);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(243, 144, 144, 0.08);
  transition: all 0.3s ease;
}

.edit-task {
  border: none;
  cursor: pointer;
}

.editTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.editTask .form-select {
  padding: 10px;
}

.nightModeButton {
  border: none;
  background: none;
  cursor: pointer;
}

body.nightModeStyle {
  background-color: #000000;
  color: #f0f0f0;
}
body.nightModeStyle h1 {
  color: #ffffff;
}
body.nightModeStyle h2 {
  color: #ffffff;
}
body.nightModeStyle h3 {
  color: #ffffff;
}
body.nightModeStyle h4 {
  color: #ffffff;
}
body.nightModeStyle .btn {
  color: #f0f0f0;
  background-color: rgb(57, 92, 205);
}
body.nightModeStyle .styleHeader {
  background-color: #000000;
}
body.nightModeStyle .styleHeader .nightModeHeader {
  color: #eca814;
  stroke: #ffffff;
  transition: color 0.5s ease, stroke 0.5s ease;
}
body.nightModeStyle .styleHeader .nightModeHeader:hover {
  color: rgba(255, 166, 0, 0.8039215686);
  stroke: #ffffff;
}
body.nightModeStyle .spanBanner {
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #ffffff;
  background-color: rgba(109, 143, 255, 0.605);
}

.spanBanner {
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #261111;
  background-color: rgba(57, 92, 205, 0.605);
}

/*# sourceMappingURL=style.css.map */
