@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
body {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

.styleHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.styleHeader .logoHeader {
  width: 50px;
  height: 50px;
}
.styleHeader .nightModeHeader {
  width: 45px;
  height: 45px;
  fill: rgba(84, 131, 224, 0.1333333333);
  stroke: #082c29;
  transition: fill 0.5s ease, stroke 0.5s ease;
}
.styleHeader .nightModeHeader:hover {
  fill: rgba(11, 55, 126, 0.4);
  stroke: #000;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.spanBanner {
  display: block;
  width: 100%;
  height: 0px;
  background-color: #000;
}

.buttonAccess {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.buttonAccess .btn {
  background-color: rgba(40, 101, 255, 0.614);
  color: #000000;
}
.buttonAccess .modal .modal-content .modal-header {
  background-color: rgba(155, 69, 26, 0.5960784314);
}
.buttonAccess .modal .modal-content .modal-header .modal-title {
  color: #261111;
}
.buttonAccess .modal .modal-content .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.newUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1100px;
  background-color: rgba(128, 137, 240, 0.1176470588);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

h2 {
  padding: 1rem;
}

.table {
  text-align: center;
  align-items: center;
}

.searchStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1100px;
  background-color: rgba(128, 137, 240, 0.1176470588);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(179, 99, 99, 0.08);
  transition: all 0.3s ease;
}

.taksAndEdit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1100px;
  background-color: rgba(128, 137, 240, 0.1176470588);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(243, 144, 144, 0.08);
  transition: all 0.3s ease;
}

.edit-task {
  border: none;
  cursor: pointer;
}

.editTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.editTask .form-select {
  padding: 10px;
}

.clearDB {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  /* eliminar este bloque genérico de button que sobrescribe colores */
  /* button {
    background-color: rgba(255, 0, 0, 0.797);
    color: #ffffff;
  } */
}

.warningDB {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: #000000;
  font-weight: normal;
  padding: 10px;
}

.alertDB {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 149, 0);
  color: #000000;
  font-weight: normal;
  padding: 10px;
}

.spanBanner1 {
  padding: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #261111;
  background-color: rgba(57, 92, 205, 0.605);
  width: 100%;
  height: 100%;
}

.editOperator {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: rgba(37, 149, 214, 0.15);
  color: #000000;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}
.editOperator:hover {
  background-color: rgba(209, 6, 57, 0.25);
  transform: scale(1.05);
}

.nightModeButton {
  border: none;
  background: none;
  cursor: pointer;
}

body.nightModeStyle {
  background-color: #000000;
  color: #f0f0f0;
}
body.nightModeStyle h1 {
  color: #ffffff;
}
body.nightModeStyle h2 {
  color: #ffffff;
}
body.nightModeStyle h3 {
  color: #ffffff;
}
body.nightModeStyle h4 {
  color: #ffffff;
}
body.nightModeStyle .btn {
  color: #f0f0f0;
  background-color: rgb(57, 92, 205);
}
body.nightModeStyle .styleHeader {
  background-color: #000000;
}
body.nightModeStyle .styleHeader .nightModeHeader {
  color: #eca814;
  stroke: #ffffff;
  transition: color 0.5s ease, stroke 0.5s ease;
}
body.nightModeStyle .styleHeader .nightModeHeader:hover {
  color: rgba(255, 166, 0, 0.8039215686);
  stroke: #ffffff;
}
body.nightModeStyle .spanBanner {
  padding: 14px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #ffffff;
  background-color: rgba(109, 143, 255, 0.605);
}

.spanBanner {
  padding: 17px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: #261111;
  background-color: rgba(57, 92, 205, 0.605);
}

/* CONTENEDOR PRINCIPAL */
.f-container {
  padding-top: 10px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
}

/* LOGO + TEXTOS + ICONOS */
.f-container .f-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/* LOGO DEL FOOTER */
.f-container .f-icons .footer-logo {
  width: 50px;
  height: 50px;
}

/* TEXTOS DEL FOOTER */
.f-container .f-icons .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.f-container .f-icons .footer-container .footer-title {
  font-size: 14px; /* valor de $font-size-footer */
  font-weight: 300;
}

/* ICONOS DE REDES SOCIALES */
.f-container .f-icons .social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.f-container .f-icons .social-media-links .icons-styles {
  width: 30px;
  height: 30px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.9); /* $icon-stroke-color */
  fill: rgba(6, 45, 60, 0.539); /* $icon-fill-color */
}

/* ICONO DEL CÍRCULO DE INSTAGRAM */
.circle-icon {
  stroke: #000000;
  stroke-width: 1px;
  fill: rgba(255, 255, 255, 0.9137254902);
}

/*# sourceMappingURL=style.css.map */
